<ng-template #content let-d="dismiss">
  <div class="dialogStyle forgotDialog">
    <div class="dialogTitle">
      <span class="modal-title">{{ 'FIELDS_ETC.confirm_password' | translate }}</span>
      <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="dialogInfo clearAfter">
      <form [formGroup]="resetPasswordForm">
        <div class="form-group row">
          <label class="col-5">{{ 'FIELDS_ETC.password' | translate }}</label>
          <input type="password" class="form-control col-7"
            [ngClass]="{'is-invalid':!resetPasswordForm.controls.password.valid && (resetPasswordForm.controls.password.dirty || submitAttempt),'is-valid':resetPasswordForm.controls.password.valid}"
            formControlName="password" placeholder="{{ 'FIELDS_ETC.password' | translate }}">
          <div class="invalid-feedback col-12" *ngIf="resetPasswordForm.get('password').hasError('required')">
            {{'VALIDATION.required'|translate}}
          </div>
          <div class="invalid-feedback col-12" *ngIf="resetPasswordForm.get('password').hasError('minlength')">
            {{'VALIDATION.password'|translate}}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5">{{ 'FIELDS_ETC.repeat_password' | translate }}</label>
          <input type="password" class="form-control col-7"
            [ngClass]="{'is-invalid':!resetPasswordForm.controls.repeatPassword.valid && (resetPasswordForm.controls.repeatPassword.dirty || submitAttempt),'is-valid':resetPasswordForm.controls.repeatPassword.valid}"
            formControlName="repeatPassword" placeholder="{{'FIELDS_ETC.repeat_password' | translate }}">
          <div class="invalid-feedback col-12" *ngIf="resetPasswordForm.get('repeatPassword').hasError('required')">
            {{'VALIDATION.required'|translate}}
          </div>
        </div>
        <button type="button" class="btn btn-secondary float-right mb-4 login-button" (click)="resetPassword()"
          [disabled]="!resetPasswordForm.valid || submitting">{{ 'HEADER.send' | translate }} <i
            class="fa fa-spinner fa-spin" *ngIf="submitting"></i></button>
      </form>
    </div>
  </div>
</ng-template>
